@import '../../styles/common.scss';

.roadmap {
  font-size: 1.6rem;
  .heading {
    text-align: center;
    padding-bottom: 2rem;
  }

  .roadmap-container {
    @include grid(repeat(2, 1fr), center, stretch, auto);

    @media (max-width: $breakpoint-mobile-max) {
      grid-template-columns: 1fr;
    }

    .roadmap-article {
      color: $white-color;
      padding: 1.5rem;

      .sub-heading {
        color: $white-color;
        margin-left: 2.5rem;
      }
    }

    .next {
      background-color: $primary-color;
    }

    .backlog {
      background-color: $secondary-color;
    }

    .next,
    .backlog {
      padding: 5rem 1.5rem;

      @media (max-width: $breakpoint-mobile-max) {
        padding: 2rem 1.5rem;
      }
    }
  }
}
