@import '../../styles/common.scss';

// love-k2 styling
.love-k2 {
  background-color: $light-gray-color;
  padding: 8rem 1.5rem;

  @media (max-width: $breakpoint-mobile) {
    padding: 3rem;
  }

  .love-k2-heading {
    text-align: center;
  }

  .love-k2-cards-container {
    @include grid(repeat(2, auto), inherit, inherit, 3.5rem);

    margin: 5rem auto;
    width: 100%;
    max-width: 95rem;

    @media (max-width: $breakpoint-mobile) {
      grid-template-columns: 1fr;
    }

    .love-k2-image-wrapper {
      @include flexbox(row, auto, center);

      .image {
        @include box-shadow(0, 0.3rem, 2.9rem, $mercury-color);

        max-width: 100%;
        min-width: 6rem;
        margin-right: 2.5rem;
        border-radius: 0.8rem;
      }
    }

    .love-k2-image-caption {
      font-weight: 500;
      color: $secondary-color;
    }
  }

  .love-k2-description {
    text-align: center;
    max-width: 100%;
    font-size: 1.8rem;

    .love-k2-description-link {
      @include transition(all 0.2s ease-in-out);

      text-decoration: none;
      outline: none;
      cursor: pointer;
      font-weight: 500;
      color: $primary-color;
      margin: auto 0.5rem;
    }
  }
}

.tech-stack-widgets-container {
  padding: 8rem 1.5rem;

  // title with image styling for tech stack
  .title {
    @include flexbox(row, center, center);

    column-gap: 2rem;

    @media (max-width: $breakpoint-mobile) {
      flex-direction: column;
      row-gap: 1rem;
    }

    .heading {
      margin: 0;
    }
  }

  // tabs section
  .navbar {
    max-width: 87rem;
    margin: 0 auto auto;

    .nav-items {
      @include flexbox(row, space-around, center);

      min-height: 15rem;
      padding: 0;

      @media (max-width: $breakpoint-mobile) {
        @include flexbox(column, space-around, center);
      }

      .nav-item-container {
        list-style: none;
      }
    }
  }

  
  .tech-stack-widgets-cards-wrapper {
    @include flexbox(row, center, center);

    max-width: 105rem;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 2rem;
    margin: 0rem auto 5rem 6rem;

    .tech-stack-widgets-card-image-wrapper {
      @include flexbox(column, space-evenly, center);

      height: 11.3rem;
      width: 17.2rem;
      border: 0.1rem solid $mercury-color;
      border-radius: 0.8rem;
      font-size: 1.5rem;
    }
  }
  .cards-section-top-space {
    margin-top: 6rem;
  }
}
