@import '../../styles/common.scss';

.hero-section-container {
  @include grid(48rem 1fr, space-between, start, 2rem);

  margin: 0 auto 0 auto;
  padding: 6rem 1.5rem;

  @media (max-width: $breakpoint-mid-mobile) {
    padding-top: 11rem;
  }

  @media (max-width: $breakpoint-mobile-medium) {
    grid-template-columns: 1fr;
    padding-bottom: 0;
    text-align: center;
    padding-top: 8rem;
  }

  .hero-section-article {
    @include flexbox(column, center, flex-start);

    height: 100%;
    margin-bottom: 5rem;

    @media (max-width: $breakpoint-mobile-medium) {
      align-items: center;
    }
  }

  .hero-banner-image-wrapper {
    margin: auto;

    .hero-banner-image {
      width: 100%;
      background-size: cover;
    }
  }
}
