@import '../../styles/common.scss';

.privacy-policy-container {
  width: 100%;
  background-color: $black-color;
  color: $white-color;
  
  .max-width-container {
    padding: 10rem 1.5rem;
    max-width: 117rem;
    margin: auto;
  }
  .privacy-policy {
    margin: 2rem auto;
    & > * {
    line-height: 1.5;
  }
  }
  .privacy-policy-responsibility {
    margin-top: 5rem;
  }
}
