$primary-color: #06a0ff;
$secondary-color: #152c43;
$black-color: #000;
$white-color: #fff;
$conifer-color: #9dd845;
$gray-color: #5c6778;
$light-gray-color: #f5f5f5;
$mercury-color: #e0dfdf;
$solitude-color: #ecf7ff;
$dark-blue-color: rgba(6, 160, 255, 0.239);
$yellow-color: #d2691e;
