@import './colors.scss';
@import './mixins.scss';
@import './config.scss';
//global classes/styles


.nav-item {
  font-family: exo, sans-serif;
  text-decoration: none;
  color: $gray-color;
  padding: 1rem 2rem;
  cursor: pointer;
  border: none;
  font-size: 1.6rem;
  background-color: transparent;
  @include transition(all 0.2s ease-in-out);

  &:hover {
    background-color: $solitude-color;
    color: $primary-color;
    border-radius: 0.4rem;
    @include transition(all 0.2s ease-in-out);
  }
}

.navbar-container {
  @media (max-width: $breakpoint-mobile-max) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.active {
  & > a {
    background-color: $solitude-color;
    color: $primary-color;
    border-radius: 0.4rem;
    @include transition(all 0.2s ease-in-out);
    outline: none;
  }
}

.description {
  color: $gray-color;
  max-width: 52.4rem;
  margin-bottom: 2rem;
}
.custom-input-field {
  border: 0.1rem solid $mercury-color;
  padding: 1.5rem;
  border-radius: 0.8rem;
  font-size: 1.4rem;
  color: $gray-color;
  @include transition(all 0.2s ease-in-out);
  &::placeholder {
    color: $mercury-color;
  }

  &:focus {
    outline: none;
    border: 0.1rem solid $primary-color;
    border-radius: 0.8rem;
    @include transition(all 0.2s ease-in-out);
  }
}

.custom-button {
  background: $primary-color;
  color: $white-color;
  text-decoration: none;
  border-radius: 0.6rem;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  font-weight: 500;
  @include transition(all 0.2s ease-in-out);
  text-transform: uppercase;
  border: none;
  cursor: pointer;

  &:hover {
    @include box-shadow(0, 0.4rem, 1rem, $dark-blue-color);
  }

  &:focus {
    outline: none;
  }
}
.center{
  text-align: center;
}

