@import '../../styles/common.scss';

.visuals {
  padding-top: 5rem;
  margin: auto 1.5rem;

  .heading {
    font-size: 3rem;
    text-align: center;
  }

  .visuals-container {
    @include flexbox(row, space-around, flex-end);

    flex-wrap: wrap;
    gap: 3rem;
    margin: 0 auto auto;
    text-align: center;

    .visual-card {
      height: 40rem;
      min-width: 33rem;

      article {
        @media (max-width: $breakpoint-mobile) {
          min-height: 25rem;
        }
      }
    }

    .integrate {
      @include flexbox(row, center, center);

      position: relative;

      .visuals-integrate-article {
        padding: 0 2rem;
        z-index: 1;
        width: 40rem;
        height: 22.6rem;
        border-radius: 0.5rem;
        border: solid 0.1rem $primary-color;
        background-color: $white-color;

        .heading {
          font-size: 2rem;
          color: $secondary-color;
          font-weight: 500;
        }

        .description {
          font-size: 1.6rem;
          font-weight: normal;
        }
      }
    }
    .request {
      @include flexbox(row, center, center);

      position: relative;

      @media (max-width: $breakpoint-tablet-small) {
        margin-top: -12rem;
      }

      .visuals-request-article {
        padding: 0 2rem;
        z-index: 1;
        width: 40rem;
        height: 22.6rem;
        border-radius: 0.5rem;
        border: solid 0.1rem $conifer-color;
        background-color: $white-color;

        .heading {
          font-size: 2rem;
          color: $conifer-color;
          font-weight: 500;
        }

        .description {
          font-size: 1.6rem;
          font-weight: normal;
        }
      }

      .absolute-shape {
        transform: rotateY(360deg);
        left: 3%;
        right: 0;

        @media (max-width: $breakpoint-mobile) {
          left: 0;
        }
      }
    }
  }
}
.absolute-shape {
  position: absolute;
  top: 10%;
  bottom: 0;
  left: 0;
  right: 3%;
  transform: rotateY(180deg);
  z-index: 0;

  @media (max-width: $breakpoint-mobile) {
    right: 0;
  }

  @media (max-width: $breakpoint-mobile-medium) {
    display: none;
  }
}


