@import '../../styles/common.scss';

.pricing {
  margin: 7rem 1.5rem 3rem;

  .heading {
    text-align: center;
  }

  .pricing-container {
    @include flexbox(row, flex-end, flex-end);

    max-width: $breakpoint-desktop;
    margin: 2rem auto auto;
    text-align: center;

    .pricing-article {
      @media (max-width: $breakpoint-mobile) {
        min-width: min-content;
      }

      .heading {
        font-size: 1.6rem;
        font-weight: bold;
        background-color: $light-gray-color;
        padding: 1rem;
      }

      .pricing-paragraph,
      p {
        min-height: 5rem;
        display: grid;
        place-items: center;
        border: solid 0.1rem $mercury-color;
        border-bottom: none;
        margin: 0 auto;

        @media (max-width: $breakpoint-mobile) {
          min-height: 7rem;
        }

        @media (max-width: $breakpoint-mobile) {
          min-height: 10rem;
        }

        @media (max-width: $breakpoint-mobile-max) {
          font-size: 1.4rem;
        }

        @media (max-width: $breakpoint-mobile) {
          font-size: 1.2rem;
        }

        &:last-child {
          border-bottom: solid 0.1rem $mercury-color;
          padding: 0.5rem 0.7rem;

          @media (max-width: $breakpoint-mobile-max) {
            padding: 0;
          }

          @media (max-width: $breakpoint-mobile) {
            padding: 0;
            height: 8rem;
          }
        }

        &:nth-child(11) {
          height: 7.2rem;

          @media (max-width: $breakpoint-mobile) {
            height: 10rem;
          }

          @media (max-width: $breakpoint-mobile) {
            height: 15rem;
          }
        }
      }
    }

    .name {
      .pricing-paragraph {
        border-right: none;
        place-items: center start;
        text-align: left;
        padding-left: 3rem;

        &:nth-child(11) {
          border-bottom: solid 0.1rem $mercury-color;
        }
      }
    }

    .developer-licence {
      min-width: 20rem;

      @media (max-width: $breakpoint-mobile-max) {
        min-width: auto;
      }

      .heading {
        @media (max-width: $breakpoint-mobile) {
          font-size: 1.4rem;
        }
      }

      .pricing-paragraph {
        border-right: none;
      }
    }

    .enterprise-licence {
      min-width: 20rem;

      @media (max-width: $breakpoint-mobile-max) {
        min-width: auto;
      }

      .heading {
        @media (max-width: $breakpoint-mobile) {
          font-size: 1.4rem;
        }
      }
    }
  }

  .pricing-buy-now-button {
    @media (max-width: $breakpoint-mid-mobile) {
      font-size: 1.3rem;
      padding: 0.9rem;
      margin: auto 0.7rem;
    }

    @media (max-width: $breakpoint-mobile-medium) {
      font-size: 1rem;
      padding: 0.5rem;
    }
  }
}
.hidden {
  visibility: hidden;
}
