@import '../../styles/common.scss';

.get-in-touch {
  margin: 5rem 1.5rem;

  .get-in-touch-heading {
    text-align: center;
  }

  .contact {
    @include grid(repeat(2, 1fr), center, center, 4rem);

    padding: 5rem 0;

    @media (max-width: $breakpoint-mobile-max) {
      grid-template-columns: 1fr;
      place-items: center;
    }

    .contact-image-wrapper {
      margin: 2rem auto;

      .contact-image {
        width: 100%;
      }
    }

    .contact-form {
      @include grid(repeat(2, 1fr), center, center, 2rem);

      width: 100%;
      margin-bottom: 1rem;

      @media (max-width: $breakpoint-tablet) {
        @include grid(1fr, center, center, 2rem);
      }

      .message-input {
        @include transition(all 0.2s ease-in-out);

        // font-family: Exo, sans-serif;
        grid-column: 1/-1;
        border: 0.1rem solid $mercury-color;
        padding: 1.5rem;
        border-radius: 0.8rem;

        &::placeholder {
          font-family: exo, sans-serif;
          font-size: 1.4rem;
          color: $mercury-color;
        }

        &:focus {
          @include transition(all 0.2s ease-in-out);

          outline: none;
          border: 0.1rem solid $primary-color;
          border-radius: 0.8rem;
        }
      }

      .get-in-touch-button {
        grid-column: 2/-1;
        justify-self: end;
        border: none;
        text-align: center;
        min-width: 20rem;
        cursor: pointer;

        @media (max-width: $breakpoint-tablet) {
          grid-column: 1/-1;
          justify-self: auto;
        }

        @media (max-width: $breakpoint-mobile-medium) {
          min-width: auto;
        }
      }
    }
  }
}
