@import '../../styles/common.scss';

.navbar-container {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 1rem 1.5rem;
  opacity: 0.97;
  background-color: $white-color;

  @media (max-width: $breakpoint-mid-mobile) {
    padding: 2rem 0.5rem;
    height: auto;
  }

  .navbar {
    @include flexbox(row, center, center);
    max-width: 117rem;
    margin: auto;
    height: auto;

    .logo {
      flex: 1;
    }

    .nav-links {
      @include flexbox(row, space-around, center);

      padding-left: 0;
      column-gap: 1rem;

      @media (max-width: $breakpoint-mobile) {
        column-gap: 0rem;
      }

      @media (max-width: $breakpoint-mobile) {
        @include flexbox(column, space-around, center);
      }

      .nav-item-wrapper {
        list-style: none;
        min-width: max-content;
        padding: 0;
        margin: auto;

        .nav-item {
          padding: 1rem;
        }
        @media (max-width: $breakpoint-mobile) {
          margin-top: 3.4rem;
        }

        .custom-button-navbar {
          border: none;
          cursor: pointer;
        }
      }
    }
  }
}

.input-box {
  display: none;
}

.hamburger {
  align-self: flex-end;
  display: none;

  @media (max-width: $breakpoint-tablet-small) {
    display: block;
  }
}

.dropdown {
  cursor: pointer;
}

.input-box + .dropdown {
  .icon-bar {
    @include transition(all 0.2s ease-in-out);

    display: block;
    width: 2.2rem;
    height: 0.2rem;
    background-color: $secondary-color;
    margin: 0.4rem;
  }

  .top-bar {
    transform: rotate(0);
  }

  .middle-bar {
    opacity: 1;
  }
}

.input-box:checked + .dropdown {
  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }

  .middle-bar {
    opacity: 0;
  }

  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
}

@media (max-width: $breakpoint-tablet-small) {
  .input-box:not(:checked) ~ .nav-links {
    display: none;
  }

  .input-box:checked ~ .nav-links {
    @include flexbox(column, space-around, center);

    position: absolute;
    top: 0rem;
    bottom: 1rem;
    left: 0;
    right: 0;
    background-color: $white-color;
    height: 85vh;
    width: 100%;
    z-index: -1;
    margin: 0;

    .nav-item-wrapper {
      margin: 0;
    }
  }
}
