@import '../../styles/common.scss';

.footer {
  @include grid(1fr, space-between, center, 0);

  background: $secondary-color;
  min-height: 42vh;
  padding: 2rem 1.5rem;
  font-size: 1.6rem;

  .brand-services-container {
    @include grid(1fr 1fr, space-between, center, 0);

    padding: 2rem auto;

    .brand {
      @include flexbox(column, flex-start, center);

      flex: 1;
      color: $white-color;

      .k2-logo {
        height: 7.5rem;

        @media (max-width: $breakpoint-mobile-max) {
          height: 3.5rem;
        }
      }

      .product-image {
        @include flexbox(row, space-between, center);

        margin-top: 3rem;
        column-gap: 0.7rem;

        @media (max-width: $breakpoint-mobile-max) {
          @include flexbox(column, space-between, flex-start);
        }
      }

      .location {
        margin-top: 0;
      }
    }

    .services {
      @include grid(repeat(3, auto), center, center, 2rem);

      position: relative;
      flex: 1;

      @media (max-width: $breakpoint-mobile) {
        grid-template-columns: repeat(2, auto);
      }

      @media (max-width: $breakpoint-mobile-medium) {
        grid-template-columns: auto;
      }

      &::after {
        position: absolute;
        content: '';
        left: -10rem;
        top: -5rem;
        height: 15rem;
        width: 0.1rem;
        background-color: $gray-color;
        margin: auto;

        @media (max-width: $breakpoint-tablet-small) {
          left: -5rem;
        }

        @media (max-width: $breakpoint-mobile) {
          display: none;
        }
      }

      .service {
        text-decoration: none;
        cursor: pointer;
        color: $white-color;
      }
    }
  }

  .paragraph-center {
    
    font-size: 1.3rem;
    color: $gray-color;
    margin: 0;
  }
}
