@import '../../styles/common.scss';

.labs-container {
  .labs-header {
    background-image: url('/assets/images/overview.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 10rem 1.5rem;
    h1 {
      color: $white-color;
    }

    .labs-description {
      color: $white-color;
      max-width: 90rem;
      text-align: center;
      font-size: 1.8rem;
      margin-top: 2rem;
      margin: auto;
    }
  }

  .labs-cards-container {
    @include flexbox(row, space-around, center);

    flex-wrap: wrap;
    min-height: 80vh;

    @media (max-width: $breakpoint-mobile) {
      min-height: 100vh;
    }

    .labs-card {
      @include flexbox(column, space-around, center);
      @include transition(all 0.3s ease-in-out 0s);

      position: relative;
      max-width: 50rem;
      max-height: 40rem;
      padding: 5rem;
      text-align: center;
      border-radius: 0.5rem;
      cursor: pointer;

      @media (max-width: $breakpoint-desktop) {
        width: 40rem;
        height: 30rem;
      }

      @media (max-width: $breakpoint-mobile) {
        width: 30rem;
        height: 25rem;
      }

      &::before {
        @include box-shadow(0, 0, 3rem, rgba(0, 0, 0, 0.1));
        @include transition(all 0.2s ease-in-out 0s);
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
      }

      &:hover::before {
        transform: scale(1.1);
      }

      .labs-card-image {
        width: 80%;
      }

      .yellow-image {
        color: $yellow-color;
      }

      .blue-image {
        color: $primary-color;
      }
      .labs-card-captions {
        h2:hover {
          color: $primary-color;
        }
      }
    }
  }
}
