@import '../../styles/common.scss';

.image-with-text-container {
  @include grid(1fr 1fr, center, center, 2rem);

  padding-bottom: 11rem;
  margin: auto 1.5rem;

  @media (max-width: $breakpoint-mobile) {
    @include grid(1fr, center, center, auto);

    text-align: center;
  }

  .why-k2-and-help-image {
    width: 80%;
  }

  .image-with-text-reverse-image {
    order: 1;
    width: 100%;
    height: 100%;
  }
}
