@import url(https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,300;0,500;0,600;0,700;0,900;1,500&display=swap);

@import './styles/common.scss';
//base styling */resets
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%; // in percentage 10/16 ask omer

  ::-webkit-scrollbar {
    display: none;
  }

  body {
    margin: 0;
    // font-size: 1.6rem;
    // road map/ footer
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    * {
      font-family: Exo, sans-serif;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      line-height: 1.3;
    }
    // define font sizes of all headings and links
    h1 {
      color: $secondary-color;
      font-size: 4rem;
      font-weight: bold;
      margin: 1rem 0;

      @media (max-width: $breakpoint-mobile) {
        font-size: 3rem;
      }
    }

    h2 {
      font-size: 2rem;
      font-weight: 600;
      margin: 1rem 0;
    }

    p {
      font-size: 1.6rem;
      margin: 1rem 0;
    }

    ul {
      margin: 1rem 3rem;
    }

    li {
      margin: 1rem;
    }

    figcaption {
      font-size: 1.6rem;
      max-width: 52.4rem;
      font-weight: 600;
      color: $gray-color;
    }
  }
}
